/*
By Group-C :>
Thank you for visiting!
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
  --prime-color: #d82521;
  --prime-color-hover: #cd0f0b;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --tran--2: 0.2s;
  --tran--3: 0.3s;
  --tran--5: 0.5s;
  --tran--8: 0.8s;
  --body-font: 'Poppins', sans-serif;
  --big-font: 40px;
  --h1-font: 36px;
  --h2-font: 24px;
  --h3-font: 2px;
  --h4-font: 18px;
  --normal-font: 16px;
  --small-font: 14px;
  --smaller-font: 13px;
  --regular-font: 400;
  --medium-font: 500;
  --semi-bold-font: 600;
  --text-color-light: #888682;
  --border-color: #484848;
}
@media screen and (max-width: 990px) {
  :root{
    --big-font: 35px;
    --h1-font: 24px;
    --h2-font: 20px;
    --h3-font: 18px;
    --h4-font: 16px;
    --normal-font: 15px;
    --small-font: 13px;
    --smaller-font: 12px;
  }
}
*{
	margin:0;
	padding:0;
	scroll-behavior: smooth;
	box-sizing: border-box;
	font-family: var(--body-font);
}
body:not(footer){
  align-items: center;
  justify-content: space-between;
  display: block;
  width: 100%;
  overflow-x: hidden;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  z-index: 105;
  text-transform: capitalize;
}
nav .navbar {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 50px;
}

nav .navbar .logo_sec{
  align-items: center;
  justify-content: space-between;
  display: flex;
  text-align: left;
  margin: auto;
}

nav .navbar .logo_sec .logo{
  width: 90px;
  height: 70px;
  align-self: left;
  margin-left: -190px;
}

nav .navbar .logo_sec .logo_text{
  justify-content: space-between;
  margin-left: -60px;
  margin-right: 100px;
  color: var(--text-color);
  display: flex;
  position: relative;
  font-weight: bold;
  font-size: 30px;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
}
nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}

nav .navbar .links {
  display: flex;
}

nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: var(--tex-color);
  font-size: var(--normal-font);
  font-weight: var(--medium-font);
  transition: var(--tran--5);
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: var(--text-color);
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
  border-radius: 25px;
  display: none;
  z-index: 2;
  text-transform: none;
  transition: var(--tran--8);
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}
.navbar .links li a:hover{
	color: var(--prime-color-hover);
	transition: var(--tran--2);
}
.navbar .links li a:hover ~ .arrow{
	color: var(--prime-color-hover);
	transition: var(--tran--2);
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar .links li .sub-menu li a {
  color: var(--text-color);
  font-size: var(--normal-font);
  font-weight: var(--medium-font);
}
.navbar .links li .sub-menu li a:hover{
	color: var(--prime-color-hover);
	transition: var(--tran--2);
}
.navbar .links li .sub-menu li a:hover ~ .more-arrow{
	color: var(--prime-color-hover);
	transition: var(--tran--2);
}

.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 25px;
  z-index: 1;
  display: none;
  transition: var(--tran--8);
}

.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

@media (max-width:920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a {
    font-size: 2.7px;
  }

  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }

  nav .navbar .links li a {
    font-size: var(--normal-font);
  }
}

@media (max-width:800px) {
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    z-index: 1000;
  }

  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }

  nav .navbar .links li .arrow {
    line-height: 40px;
  }

  nav .navbar .links li {
    display: block;
  }

  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }

  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }

  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }

  .navbar .links li .sub-menu .more span {
    display: flex;
    align-items: center;
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }

  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }

  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }

  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }

  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}
iframe{
  width: 100%;
  height: 40vh;
  border: 1px solid #000;
}
.wrapper i{
  color: var(--prime-color);
  margin-right: 15px;
}
h2{
  color: blue;
}
.tel, .address, .email{
  color: #439aea;
  text-decoration: underline;
  cursor: pointer;
}
.time{
  color: var(--black-color);
  font-weight: 500;
  margin-top: 20px;
}
.web_link{
	text-decoration: none;
	color: var(--black-color);
	position: relative;
	transition: .5s;
}
.web_link::before{
	content: "";
	background-color: var(--prime-color);
	height: 3px;
	width: 0;
	bottom: -10px;
	position: absolute;
	box-sizing: border-box;
	border-radius: 3rem;
	transition: .8s;
	left: 0;
}
.web_link:hover{
	color: var(--prime-color);
}
.web_link:hover::before{
	width: 100%;
}

footer{
  line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
  padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: var(--white-color);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 3px;
	border-radius: 30px;
	box-sizing: border-box;
	width: 20px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
  color: #bbbbbb;
  font-weight: 300;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #fff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links span{
  display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
  cursor: pointer;
	transition: all 0.5s ease;
}
.footer-col .social-links .facebook:hover{
	background-color: #3288c8;
}
.footer-col .social-links .youtube:hover{
	background-color: #ff0000;
}
.footer-col .social-links span:hover{
  background-color: #000;
}
.footer-col .address, .email-2{
	color: #bbbbbb;
	font-weight: 300;
  cursor: inherit;
	text-decoration: none;
}
.footer-col .contact-info i{
	margin-right: 10px;
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.theme-black{
  background-color: #000;
  transition: .5s;
}
.theme-black .time{
  color: #fff;
}
.theme-black .web_link{
  color: #888682;
}
.theme-white{
  background-color: #fff;
  transition: .5s;
}
.theme-white .time{
  color: #000;
}
.theme-white .web_link{
  color: #333;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #e6d8d8;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--prime-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  border-radius: 30px;
  background-color: var(--prime-color-hover);
}
::selection{
  background-color: var(--prime-color);
  color: var(--white-color);
}
