/*
By Group-C :>
Thank you for visiting!
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root{
  --prime-color: #d82521;
  --prime-color-hover: #cd0f0b;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --tran--2: 0.2s;
  --tran--3: 0.3s;
  --tran--5: 0.5s;
  --tran--8: 0.8s;
  --body-font: 'Poppins', sans-serif;
  --big-font: 4rem;
  --h1-font: 3.6rem;
  --h2-font: 2.4rem;
  --h3-font: 2rem;
  --h4-font: 1.8rem;
  --normal-font: 1.6rem;
  --small-font: 1.4rem;
  --smaller-font: 1.3rem;
  --regular-font: 400;
  --medium-font: 500;
  --semi-bold-font: 600;
  --text-color-light: #888682;
  --border-color: #484848;
}
@media screen and (max-width: 990px) {
  :root{
    --big-font: 3.5rem;
    --h1-font: 2.4rem;
    --h2-font: 2rem;
    --h3-font: 1.8rem;
    --h4-font: 1.6rem;
    --normal-font: 1.5rem;
    --small-font: 1.3rem;
    --smaller-font: 1.2rem;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}
body:not(footer){
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
.main {
  height: 100vh;
  width: 100%;
}
.wrapper,
.slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide {
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.slide .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 425%);
  text-align: center;
  width: 100%;
  z-index: 100;
}
.image-data h2 {
  font-size: var(--big-font);
  font-weight: 200;
  color: var(--white-color);
}
.nav-btn {
  height: 5rem !important;
  width: 5rem !important;
  border-radius: 50% !important;
  background-color: rgba(255, 255, 255, 0.2);
  visibility: visible;
  transition: var(--tran--2);
}
.nav-btn:hover{
  background-color: rgba(255, 255, 255, 0.3);
}
.swiper-button-next {
  right: 3rem;
}
.swiper-button-prev {
  left: 3rem;
}
.nav-btn::before,
.nav-btn::after {
  font-size: var(--h2-font) !important;
  color: var(--white-color);
}
.swiper-pagination-bullet {
  opacity: 1 !important;
  height: 15px !important;
  width: 15px!important;
  background-color: #bbbbbb !important;
  visibility: hidden;
}
.swiper-pagination-bullet-active {
  border: 2px solid var(--white-color) !important;
  background-color: var(--prime-color) !important;
}

@media screen and (max-width: 768px) {
  .nav-btn {
    visibility: hidden;
  }
  .swiper-pagination-bullet {
    visibility: visible;
  }
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: rgba(0,0,0,0);
  background-color: none;
  z-index: 99;
  text-transform: capitalize;
}
nav .navbar {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 50px;
}

nav .navbar .logo_sec{
  align-items: center;
  justify-content: space-between;
  display: flex;
  text-align: left;
  margin: auto;
}

nav .navbar .logo_sec .logo{
  width: 9rem;
  height: 7rem;
  align-self: left;
  margin-left: -19rem;
}

nav .navbar .logo_sec .logo_text{
  justify-content: space-between;
  margin-left: -6rem;
  margin-right: 10rem;
  color: var(--white-color);
  display: flex;
  position: relative;
  font-weight: bold;
  font-size: 3rem;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
}
nav .navbar .nav-links {
  line-height: 7rem;
  height: 100%;
}

nav .navbar .links {
  display: flex;
}

nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: var(--white-color);
  font-size: var(--normal-font);
  font-weight: var(--medium-font);
  transition: var(--tran--5);
}

@media (max-width:920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a {
    font-size: 2.7px;
  }

  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }

  nav .navbar .links li a {
    font-size: var(--normal-font);
  }
}

@media (max-width:800px) {
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 27rem;
    width: 100%;
    line-height: 4rem;
    padding: 2rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    z-index: 1000;
  }

  nav .navbar .links {
    display: block;
    margin-top: 2rem;
  }

  nav .navbar .links li {
    display: block;
  }
}
nav.nav-changed{
  background-color: var(--white-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: 1s;
}
.nav-changed .navbar .logo_sec .logo_text, .nav-changed .navbar .links li .arrow, .nav-changed .navbar .links li a{
  color: var(--text-color);
}
.nav-changed .navbar .links li a:hover{
  color: var(--prime-color-hover);
  transition: var(--tran--2);
}
.nav-changed .navbar .links li a:visited {
  color: var(--prime-color-hover);
}
.content {
  display: grid;
  grid-template-columns: [contentwidth-start firstcolumn-start] 1fr [firstcolumn-end secondcolumn-start] 1fr[secondcolumn-end contentwidth-end];
  grid-template-rows: [content-start firstrow-start] 1fr [firstrow-end secondrow-start] 1fr [secondrow-end content-end];
  grid-gap: 2rem;
  padding: 3rem 6rem;
  background-color: #f2f2f2;
  margin-top: -2rem;
} 
.content > div h3 {
  margin-bottom: 25px;
}
.aboutus, .teaching-learning, .facilities, .achievements{
  text-align: justify;
  border-radius: 8px;
  font-size: var(--normal-font);
  padding: 1.5rem 3rem;
  line-height: 1.7;
  background-color: #fff;
}
.teaching-learning, .facilities, .achievements, .aboutus {
  box-shadow: 0 3px 0 rgba(0,0,0,.4);
  animation: fadeIn 4s;
}

.aboutus {
  grid-column: firstcolumn;
  grid-row: firstrow;
}
.kmcvidclip {
  height: 40rem;
  width: 65rem;
}
.teaching-learning {
  grid-column: secondcolumn;
  grid-row: firstrow;
}
.facilities {
  grid-column: firstcolumn;
  grid-row: secondrow;
}
.achievements {
  grid-column: secondcolumn;
  grid-row: secondrow;
}
.line {
  margin-top: 35px;
  height: 5px;
  background-color: var(--prime-color);
  width: 100vw;
}
.vidarea {
  display: inherit;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
}
.vidarea h3 {
  font-size: 30px;
}
.contain-box {
    display: flex;
    flex-direction: column;
    height: 500px;
    text-align: center;
    margin: 30px 25px 55px;
}
.contain-box h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 40px;
}
.contain-box iframe {
    width: 75%;
    height: 40vh;
    border: 1px solid #000;
    display: flex;
    align-self: center;
}
.contain-box #form #details {
    width: 280px;
    height: 40px;
    border-radius: 5px;
    border: 1.35px solid #ccc;
    padding: 5px 8px;
    margin: 15px 5px 20px
}
.contain-box #form #message-details {
    height: 40px;
    border-radius: 5px;
    border: 1.35px solid #ccc;
    width: 575px;
    padding: 5px 8px;
}
.contain-box #form textarea {
    width: 575px;
    height: 100px;
    min-width: 575px;
    max-width: 575px;
    max-height: 500px;
    min-height: 100px;
    padding: 5px 10px;
    margin-top: 25px;
    border-radius: 5px;
    border: 1.35px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
}
.contain-box #form input[type="submit"] {
    height: 40px;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(123, 20, 20);
    border: none;
    width: 200px;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 30px;
}


#btnScrollTop {
  color: var(--white-color);
  position: fixed;
  border-radius: 50%;
  background-color: var(--prime-color);
  right: 1rem;
  bottom: 1rem;
  box-shadow: 0 0 1rem rgba(0,0,0,0.25);
  width: 5rem;
  height: 5rem;
  border: none;
}
footer{
  line-height: 1.5;
  width: 100%;
}
.container{
	max-width: 117rem;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
  background-color: #f2f2f2;
  padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: var(--text-color);
	text-transform: capitalize;
	margin-bottom: 3.5rem;
	font-weight: var(--medium-font);
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -1rem;
	background-color: #e91e63;
	height: 3px;
  	border-radius: 3rem;
	box-sizing: border-box;
	width: 2rem;
}
.footer-col ul li{
  font-weight: var(--regular-font);
  font-size: var(--normal-font);
}
.footer-col ul li:not(:last-child){
	margin-bottom: 1rem;
  color: #333;
  font-weight: var(--regular-font);
  font-size: var(--normal-font);
}

.footer-col ul li a{
	text-transform: capitalize;
	text-decoration: none;
	color: var(--text-color);
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ccc;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 4rem;
	width: 4rem;
	background-color: var(--text-color);
  font-size: var(--normal-font);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 4rem;
	border-radius: 50%;
	color: var(--white-color);
	transition: all 0.5s ease;
}
.footer-col .social-links .facebook:hover{
	background-color: #4267B2;
}
.footer-col .social-links .youtube:hover{
	background-color: #FF0000;
}
.footer-col .address, .email-2{
	color: #333;
  cursor: inherit;
	text-decoration: none;
}
.footer-col .contact-info i{
	margin-right: 10px;
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
@media (max-width:370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #e6d8d8;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb{
  background-color: var(--prime-color);
  border-radius: 3rem;
}
::-webkit-scrollbar-thumb:hover{
  border-radius: 1rem;
  background-color: var(--prime-color-hover);
}
::selection{
  background-color: var(--prime-color-hover);
  color: var(--white-color);
}
